div{
    margin: 0;
}
.header {
    width: 100vw;
    background-color:  #000000;
    height: 5vh;
    text-align: center;
    color: #ffffff;
    /* vertical-align: middle */
}
.body{
    display: inline-block;
    width: 100vw;
    height: 75vh;
}
.chatbot {
    float: left;
    width: 40vw;
    height: 75vh;
    background-color:  darkslategrey;
    overflow: auto;
}
.chatbotHeader{
    width: 39.5vw;
    height: 4vh;
    margin-left: 0.25vw;
    /* margin-bottom: 0.25vw; */
    margin-top: 0.2vw;
    background-color: #6E48AA;
    overflow: auto;
    text-align: center;
    color: #ffffff;
    font-size: 3vh
}
.messageArea{
    width: 39.5vw;
    height: 63.5vh;
    margin-left: 0.25vw;
    margin-bottom: 0.25vw;
    /* margin-top: 0.2vw; */
    background-color: #ffffff;
    overflow: auto;
}
.messageBody{
    width: 30vw;
    float: right;
    background-color: greenyellow;
    margin: 2px;
    border-radius: 5px;
    padding: 0.5vw;
    /* font-size: 2vw; */
}
.replyBody{
    width: 30vw;
    float: left;
    background-color: orangered;
    margin: 2px;
    border-radius: 5px;
    padding: 0.5vw;
    /* font-size: 2vw; */
}
.messageInput{
    float: left;
    width: 35.5vw;
    height: 5.3vh;
    margin-left: 0.25vw;
}
.msgSubmit{
    width: 2vw;
    height: 6vh;
    /* margin-top: 2vh; */
    margin-left: 0.25vw;
    border-radius: 0.5vw;
    background-color: aqua;
    border: #000000
}
.keyboard{
    /* width: auto; */
    /* height: 33vh; */
    position: fixed;
    bottom: 0%;
    right: 0%;
    z-index: 1;
    display: block;
    overflow: auto;
    background-color: aliceblue;
}
.cartList {
    float: left;
    display: block;
    width: 30vw;
    height: inherit;
    background-size: 100% 100%;
    background-color: lightyellow;
    overflow: hidden;
}
.datalist{
    width: inherit;
    height: 4vh;
    background-color:  darkslategray;
    overflow: auto;
}
.datalistInput{
    /* margin: 0.25vw; */
    width: 24vw;
    height: 3vh;
    margin-left: 0.25vw;
    /* font-size: 2vw; */
    float: left;
}
.itemAdd{
    float: left;
    width: 4vw;
    height: inherit;
    margin-left: 0.25vw;
    border-radius: 0.5vw;
    background-color: aqua;
    border: #000000;
    /* font-size: 1vw; */
    overflow: hidden;
}
.list{
    margin: 0%;
    padding-left: 2vw;
    font-size: 3vh;
}
.graph {
    float: left;
    display: block;
    width: 30vw;
    height: inherit;
    background-size: 100% 100%;
    background-color: grey;
    overflow: hidden;
}
#theCanvas{
    background-color: white;
	width:100%;
	height:100%;
}
.recommender {
    vertical-align: middle;
    width: 100vw;
    height: 19vh;
    background-color: #4DB6AC;
}
.item {
    margin: 0;
    width: 25%;
    height: 100%;
    float: left;
    overflow: hidden;
}
.details{
    margin: 0;
    width: auto;
    height: 100%;
    float: left;
    /* overflow: auto; */
}
.item img{
    margin: 0;
    float: left;
    margin: 1px;
    width: 40%;
    height: 100%;
    opacity: 0.9;
}
.label { 
    display:block;
    width:14vw;
    word-wrap:break-word;
    float: left;
    padding: 0;
}
label{
    font-size: 2vw;
    margin: 0;
}
@media only screen and (min-width: 400px){
    .keyboard{
        width: 60vw;
    }
}
@media only screen and (max-width: 400px){
    .keyboard{
        width: 240px;
    }
    .messageArea{
        height: 57vh;
    }
}
@media only screen and (max-width: 450px){
    .messageInput{
        width: 33.5vw;
    }
}
@media only screen and (max-height: 660px) {
    .keyboard{
        height: 175px;
    }
}
@media only screen and (max-height: 600px) and (max-width: 400px){
    .messageArea{
        height: 52vh;
    }
}
@media only screen and (max-height: 530px) and (max-width: 400px){
    .messageArea{
        height: 47vh;
    }
}
@media only screen and (max-height: 460px) and (max-width: 400px){
    .messageArea{
        height: 42vh;
    }
}