.datalist{
    /* width: inherit; */
    height: 4vh;
    padding: 5px;
    background-color: darkslategray
}
.datalistInput{
    width: 22vw;
    height: inherit;
    float: left;
    padding-inline-start: 1vw;
    margin-left: 0.25vw;
    border-radius: 3vw;
    border: #000000;
    overflow: hidden;
}
.itemAdd{
    float: left;
    /* width: 4vw; */
    /* height: inherit; */
    /* margin-left: 0.25vw; */
    /* border-radius: 0.5vw; */
    /* background-color: aqua; */
    border: #000000;
    /* font-size: 1vw; */
    overflow: hidden;
    width: 6vh;
    height: 4vh;
    /* margin-top: 0.5vh; */
    margin-left: 0.25vw;
    border-radius: 4vw;
    background-color: #162231;
    color: #ffffff
    /* border: #000000 */
    /* padding-top: 0.4vw; */
    /* padding-inline-start : 0.4vw */
}